* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Marvel", sans-serif;

}

body {
    background: url("https://preview.redd.it/red-nebula-3840x2160-v0-6d7yxn7kkoha1.png?auto=webp&s=4523fc97385bf16a03e81323e1f684db6cb2c68d") no-repeat center center fixed;
    background-size: cover;
    background-color: aqua;
    padding: 10px;
    /* backdrop-filter: blur(0);
    backdrop-filter: brightness(60%);
    backdrop-filter: contrast(20%); */
    height: 100%;
    color: white;
}

header {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    align-items: center;
    gap: 20px;
}

header input {
    width: 20vw;
    height: 30px;

}

.filtro {
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: center;
}

.seleccion {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Dropdown Button */
.dropbtn {
    background: rgb(2, 0, 36);
    background: linear-gradient(267deg, rgba(2, 0, 36, 1) 0%, rgba(69, 72, 230, 0.7441351540616247) 1%, rgba(230, 1, 1, 0.8729866946778712) 34%);
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 5px;
}

/* .dropbtn div {
    padding-top: -100px;
} */

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.banner {
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    gap: 50px;
    padding-left: 30px;
}

.banner img {
    width: 100px;
    height: 50px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    row-gap: 20px;
    padding: 20px 0;
}

section .card {
    border-radius: 5px;
    box-shadow: 1px 2px 5px #221cb8;
}

section .card .info {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

section .card img {
    height: 320px;
    width: 280px;
}

dialog {
    margin: auto;
}

.container {
    display: flex;
    gap: 20px;
    width: 60vw;
    height: 70vh;
    min-width: 300px;
}

.container img {
    min-width: 300px;
}

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.informacion button {
    width: 100px;
}

@media(max-width:850px) {

    header {
        font-size: 1rem;
        flex-direction: column;
        justify-content: end;
        text-align: center;
    }

    .banner {
        font-size: 1rem;
        gap: 5px;
        padding-left: 0px;
        justify-content: center;
    }

    dialog {
        box-shadow: 1px 1px 1px;
        border-radius: 5px;
        max-height: 70vh;
        overflow: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
    }

    .container img {
        max-width: 400px;
        height: 320px;
    }

    .informacion {
        padding: 5px;
        gap: 20px;
    }
}